version: '3.9'

services:
  ffmpegstream:
    image: ly920907/ffmpeg-autostream:online
    container_name: ffmpeg-streamer
    restart: always
    
    # 低延迟 RTMP：推荐 host network（Linux Only）
    network_mode: host
    
    environment:
      MULTI_RTMP_URLS: ${MULTI_RTMP_URLS}
      YOUTUBE_URL: ${YOUTUBE_URL}
      COOKIE_FILE: /cookies/cookie.txt
      LOOP: ${LOOP}
      TARGET_FPS: ${TARGET_FPS}
    volumes:
      - ./cookie.txt:/cookies/cookie.txt:ro

    # 限制 docker logs（否则 FFmpeg 会刷爆日志）
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
